/* Hero */
.hero {
  @apply h-screen text-center flex items-center justify-center relative z-30;

  background: url('../assets/images/hero-bg.png') no-repeat bottom center;
  background-size: cover;

  @screen lg {
    background: url('../assets/images/hero-desktop-bg.png') no-repeat bottom
      center;
    background-size: cover;
    height: 768px;
  }

  &__content {
    @apply items-center relative flex flex-col justify-center h-full lg:pt-8;
  }

  &__heading {
    font-family: 'Platform', 'Inter', sans-serif;
    max-width: 328px;
    @apply text-5xl text-center leading-tight;

    @screen lg {
      @apply text-7xl;
      max-width: 800px;
    }
  }

  &__excerpt {
    @apply text-center font-sans mt-4 lg:mt-4;
    color: #4d5257;
    max-width: 277px;

    @screen lg {
      font-size: 20px;
      line-height: 1.4;
      max-width: 480px;
    }
  }

  /* Illustrations */
  #illustration1 {
    @apply absolute -left-12 top-20 w-24 h-24 lg:w-52 lg:-top-20 lg:left-40;
  }

  #illustration2 {
    @apply absolute lg:bottom-32 lg:-left-28 hidden lg:block;
  }

  #illustration3 {
    @apply relative top-12 -right-32 w-12 lg:w-28 lg:-right-96 lg:top-12;
  }

  #illustration4 {
    @apply absolute z-40 w-28 right-4 -bottom-2 lg:w-52 lg:right-56 lg:-bottom-12;
  }
}
