/*
* Components
*/

// Hero
.hero {
  @apply text-center flex items-center justify-center relative;
  background: url('../assets/images/hero-bg.png') no-repeat fixed bottom center;
  background-size: cover;

  @screen md {
    background: url('../assets/images/hero-desktop-bg.png') no-repeat fixed
      bottom center;
    background-size: cover;
  }

  &__content {
    @apply relative flex items-center flex-col pt-12;
  }

  &__heading {
    @apply text-5xl text-center leading-tight;
    font-family: 'Platform';

    @screen lg {
      @apply text-7xl;
      max-width: 800px;
    }
  }

  &__excerpt {
    @apply text-center mt-4;
    color: #4d5257;
    max-width: 277px;

    @screen lg {
      max-width: 400px;
    }
  }
}

// Navigation
.navigation {
  @apply px-10 max-w-4xl;

  @screen md {
    @apply text-base text-gray-900 justify-between items-center;
  }
}

// Buttons
.buttons {
  @apply flex space-y-2 md:space-y-4;
}

button,
.button,
a.button {
  @apply font-bold text-center text-sm py-2 px-6 rounded h-10 leading-normal md:text-base;
  font-family: 'Open Sans', sans-serif;

  transition: filter 300ms ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }

  &--primary {
    @apply text-white bg-red-500;
  }

  &--secondary {
    @apply text-red-500;
  }
}

// Block
.block {
  @apply h-screen;
  scroll-snap-align: start;
}

#illustration1 {
  @apply absolute -left-10 top-20 w-24 h-24 md:w-52 md:-top-20 md:left-60;
}

#illustration2 {
  @apply absolute md:-bottom-20 md:left-40 hidden md:block;
}

#illustration3 {
  @apply absolute top-12 right-2 w-12 md:w-28 md:right-32 md:top-0;
}

#illustration4 {
  @apply absolute w-28 right-4 -bottom-8 md:w-52 md:right-80 md:-bottom-6;
}
