<section class="block block--infos data-scroll-section" data-scroll-section>
  <div class="container">
    <div class="block__content">
      <div class="lg:flex lg:items-start">
        <div class="block__texts">
          <h1 class="block__heading"> Democratizamos os dados do mercado imobiliário </h1>
          <p class="block__excerpt">
            Você está pensando em comprar ou vender um apartamento? Qual é o preço que você acha apropriado? Como
            você vai escolher um corretor para te ajudar? A Trular está aqui para te dar informações imobiliárias
            relevantes e te ajudar a tomar a melhor decisão.
          </p>
        </div>

        <div class="mt-9 lg:mt-0 lg:ml-20">
          <div class="box-info box-info--secondary">
            <img src="./assets/images/block-info-rectangle.svg" alt="" class="mb-6 lg:hidden">
            <h2 class="box-info__heading">
              Aumentando a transparência a Trular vai transformar o mercado imobiliário brasileiro.
            </h2>
          </div>
        </div>
      </div>

      <div class="block__image"></div>
    </div>
  </div>
</section>