<section class="block block--details data-scroll-section" data-scroll-section>
  <div class="block__content container">
    <div class="block__texts">
      <h1 class="block__heading">Detalhes sobre cada imóvel</h1>
      <p class="block__excerpt">
        Acesse dados validados sobre o tipo e número de unidades em cada prédio, assim como também o preço final de
        venda de transações recentes.
      </p>
    </div>

    <div class="block__image">

      <div id="details-card1"
           data-scroll
           data-scroll-direction="horizontal"
           data-scroll-speed="-0.2"
           data-scroll-class="appear"
           data-scroll-repeat="true">
        <img src="./src/assets/images/details-card-image1.png" alt="">

        <span id="details-price1">
          <img src="./src/assets/images/details-card-price1.png" alt="">
        </span>
      </div>

      <div id="details-card2"
           data-scroll
           data-scroll-direction="vertical"
           data-scroll-speed="0"
           data-scroll-class="appear"
           data-scroll-repeat="true">
        <img src="./src/assets/images/details-card-image2.png" alt="">

        <span id="details-price2">
          <img src="./src/assets/images/details-card-price2.png" alt="">
        </span>
      </div>

      <div id="details-card3"
           data-scroll
           data-scroll-direction="horizontal"
           data-scroll-speed="0.2"
           data-scroll-class="appear"
           data-scroll-repeat="true">
        <img src="./src/assets/images/details-card-image3.png" alt="">

        <span id="details-price3" class="hidden lg:block">
          <img src="./src/assets/images/details-card-price3.png" alt="">
        </span>
      </div>

      <div id="details-card-infos"
           data-scroll
           data-scroll-direction="horizontal"
           data-scroll-speed="-0.5"
           data-scroll-repeat="true">
        <img src="./src/assets/images/details-card-infos.png" alt="">
      </div>
    </div>
  </div>
</section>