<section class="block block--catalog" data-scroll-section>
  <div class="container">
    <div class="block__content">
      <div class="block__texts">
        <img src="./src/assets/images/block-catalog-illustration.svg" class="mb-4 lg:w-24 lg:mb-14">
        <h1 class="block__heading">Catálogo de prédios</h1>
        <p class="block__excerpt">
          Encontre informações de todos os prédios residenciais da região central de São Paulo no nosso catálogo.
        </p>
      </div>

      <div class="block__image">
        <div id="building-card1"
             data-rellax-direction="horizontal"
             data-rellax-speed="0.5"
             data-rellax-percentage="0.5"
             class="rellax">
          <img src="./src/assets/images/building-card-image1.png" alt="">
        </div>

        <div id="building-card2"
             data-rellax-direction="horizontal"
             data-rellax-speed="-0.2"
             data-rellax-percentage="0.8"
             class="rellax">
          <img src="./src/assets/images/building-card-image2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>