<section class="block block--catalog-brokers data-scroll-section" data-scroll-section>
  <div class="container">
    <div class="block__content">
      <div class="lg:flex">
        <div class="block__texts">
          <h1 class="block__heading"> Catálogo de corretores </h1>
          <p class="block__excerpt">
            Compare diferentes corretores, veja a sua área de atuação e em quais prédios eles já venderam
            apartamentos.
            Encontre o corretor com a experiência certa para vender o seu apartamento.
          </p>
        </div>

        <div class="mt-6 lg:mt-0 lg:ml-24">
          <div class="box-info">
            <h2 class="box-info__heading">Você é corretor de imóveis ou agência?</h2>
            <button type="button"
                    class="button button--primary">
              Venha fazer parte
            </button>
          </div>
        </div>
      </div>

      <div class="block__image">
      </div>
    </div>
  </div>
</section>