<section class="block block--details">
  <div class="block__content container">
    <div class="block__texts">
      <h1 class="block__heading">Detalhes sobre cada imóvel</h1>
      <p class="block__excerpt">
        Acesse dados validados sobre o tipo e número de unidades em cada prédio, assim como também o preço final de
        venda de transações recentes.
      </p>
    </div>

    <div class="block__image">

      <div id="details-card1" class="horizontal"
           data-rellax-speed="0"
           data-rellax-mobile-speed="0"
           data-rellax-desktop-speed="0.4"
           data-rellax-vertical-scroll-axis="x">
        <img src="./src/assets/images/details-card-image1.png">

        <span id="details-price1">
          <img src="./src/assets/images/details-card-price1.png">
        </span>
      </div>

      <div id="details-card2">
        <img src="./src/assets/images/details-card-image2.png">

        <span id="details-price2">
          <img src="./src/assets/images/details-card-price2.png">
        </span>
      </div>

      <div id="details-card3"
           class="horizontal"
           data-rellax-speed="0"
           data-rellax-mobile-speed="0"
           data-rellax-desktop-speed="-0.4"
           data-rellax-vertical-scroll-axis="x">
        <img src="./src/assets/images/details-card-image3.png">

        <span id="details-price3" class="hidden lg:block">
          <img src="./src/assets/images/details-card-price3.png">
        </span>
      </div>

      <div id="details-card-infos" class="rellax"
           data-rellax-speed="0"
           data-rellax-mobile-speed="0"
           data-rellax-desktop-speed="-0.4"
           data-rellax-percentage="0.4">
        <img src="./src/assets/images/details-card-infos.png">
      </div>
    </div>
  </div>
</section>