<footer class="l-footer">
  <div class="container">
    <div class="l-footer__content">
      <div class="l-footer__brand">
        <img src="/src/assets/logo-footer.svg" alt="Trular">
        <p class="l-footer__brand-description">
          Dados imobiliários confiáveis em um só lugar.
        </p>
      </div>
      <address class="text-white font-normal lg:w-96 lg:space-y-6 not-italic">
        <p>CNPJ 40.409.082/0001-47</p>

        <p>Av. Brigadeiro Faria Lima 2369 cj 1102, 01452-922, São Paulo, SP, Brasil</p>
        <a href="mailto:info@trular.com.br" class="inline-block">info@trular.com.br</a>
      </address>
    </div>
  </div>
</footer>