<section class="hero" role="banner" data-scroll-section>
  <header class="l-header">
    <div class="l-header__container">
      <div id="navigationBrand">
        <a href="/">
          <img src="/src/assets/logo.svg" alt="trular">
        </a>
        <h1 class="sr-only">trular</h1>
      </div>

      <div class="signin-button">
        <button type="button" class="button button--primary">Login</button>
      </div>
    </div>
  </header>

  <span id="illustration1"
        data-scroll
        data-scroll-direction="horizontal"
        data-scroll-speed="-2"
        data-scroll-class="appear"
        data-scroll-repeat="true">
    <img src="/src/assets/images/illustration1.svg">
  </span>

  <div class="hero__content">
    <span id="illustration3"
          data-scroll
          data-scroll-speed="3"
          data-scroll-class="appear"
          data-scroll-repeat="true">
      <img src="/src/assets/images/illustration3.svg">
    </span>

    <h1 class="hero__heading"
        data-scroll
        data-scroll-direction="vertical"
        data-scroll-speed="2.5"
        data-scroll-class="appear"
        data-scroll-repeat="true">
      Dados imobiliários confiáveis num só lugar
    </h1>
    <p class="hero__excerpt"
       data-scroll
       data-scroll-direction="vertical"
       data-scroll-speed="3"
       data-scroll-class="appear"
       data-scroll-repeat="true">
      Trular é a primeira plataforma com informações completas e confiáveis sobre
      prédios e corretores.</p>

    <div class="buttons flex-col mt-4 lg:mt-10"
         data-scroll
         data-scroll-direction="vertical"
         data-scroll-speed="2"
         data-scroll-repeat="true">
      <button type="button"
              class="button button--primary">
        Peça seu código de acesso
      </button>
      <a href="#" class="button button--secondary">Já tenho um código</a>
    </div>

    <span id="illustration2" data-scroll data-scroll-speed="2">
      <img src="/src/assets/images/illustration2.svg">
    </span>
  </div>

  <span id="illustration4"
        data-scroll
        data-scroll-direction="vertical"
        data-scroll-speed="2"
        data-scroll-class="appear"
        data-scroll-repeat="true">
    <img src="/src/assets/images/illustration4.svg">
  </span>
</section>