<section class="hero" role="banner">
  <header class="l-header">
    <div class="l-header__container">
      <div id="navigationBrand">
        <a href="/">
          <img src="/src/assets/logo.svg" alt="trular">
        </a>
        <h1 class="sr-only">trular</h1>
      </div>

      <div class="signin-button">
        <button type="button" class="button button--primary">Login</button>
      </div>
    </div>
  </header>

  <span id="illustration1" class="rellax">
    <img src="/src/assets/images/illustration1.svg">
  </span>

  <div class="hero__content">
    <span id="illustration3" class="rellax">
      <img src="/src/assets/images/illustration3.svg">
    </span>

    <h1 class="hero__heading">
      Dados imobiliários confiáveis num só lugar
    </h1>
    <p class="hero__excerpt">
      Trular é a primeira plataforma com informações completas e confiáveis sobre
      prédios e corretores.</p>

    <div class="buttons flex-col mt-4 lg:mt-10">
      <button type="button"
              class="button button--primary">
        Peça seu código de acesso
      </button>
      <a href="#" class="button button--secondary">Já tenho um código</a>
    </div>

    <span id="illustration2"
          data-rellax-speed="4"
          class="rellax">
      <img src="/src/assets/images/illustration2.svg">
    </span>
  </div>

  <span id="illustration4"
        data-rellax-speed="2"
        data-rellax-percentage="0.2"
        class="rellax">
    <img src="/src/assets/images/illustration4.svg">
  </span>
</section>